@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
  box-sizing: border-box;
}
:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
  list-style: none;

  --black: #2B2B2B;
  --purple-color: #978AC1;
  --thick-orange:#EA4909;
  --light-orange:#FA851E;
  --blue:#0075C9;
  --green:#00452A;


  --section-padding: 0 6% 5%;
}

body, nav{
  margin: 0;
  overflow-x: hidden;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
img{
  width: 100%;
}
.bg-img{
  background-image:url(./assets/blurbg.png);
  background-position: right ;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* Cursor */
.cursor {

  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 1000;
  transition: all .7s cubic-bezier(0.75, 2.27, 0.3, 2.33);
  position: fixed;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
.btn{
  cursor: pointer;
}

.focus {
  width: 55px !important;
  height: 55px !important;
  transition: all .5s;
}

.cursor-default {
  box-shadow: 0 0 0 3px var(--thick-orange);
  transition: all .5s;
}

.cursor-black {
  box-shadow: 0 0 0 3px var(--light-orange);
  transition: all .5s;
}
.d-flex{
  display: flex;
}
/* Scroll bar */
::-webkit-scrollbar{
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background:var(--light-orange);
  border-radius: 10px;
  transition: all .8s;
}
::-webkit-scrollbar-thumb:hover {
  background:var(--thick-orange);
  transition: all .8s;
  }

::-webkit-scrollbar-track {
  border-radius: 7px;
}